
body {
	background-color: rgb(0,0,0);
	color: rgb(200,200,200);
	padding: 20px 50px;
}

h1 {
	text-align: center;
	transition: -webkit-filter ease 1s;
	-webkit-filter: blur(3px) grayscale(1);
}

h1:hover {
	transition: -webkit-filter ease 1s;
	color: white;
	-webkit-filter: blur(0px) grayscale(1) invert(1) drop-shadow(0px 0px 30px white) drop-shadow(0px 0px 30px white);
}

ol {
	width: 75%;
	margin: auto;
}

li {
	transition: font-size ease 5s, width ease 5s;
	list-style: none;
	text-align: center;
	width: 50%;
	margin: 2px auto;
	background-color: grey;
	border: 2px solid grey;
	border-radius: 5px;
	padding: 10px;
	display: none;
}

li:hover {
	transition: font-size ease 3s, width ease 3s;
	font-size: 3em;
	width: 100%;
}

#options {
	width: 75%;
	margin: 20px auto;
}

img {
	width: 18%;
	transition: -webkit-filter ease 2s;
	-webkit-filter: blur(5px) grayscale(1);
	margin: 7px;
	padding: auto;
	border-radius: 50%;
}

img:hover {
	transition: -webkit-filter ease 1s;
	-webkit-filter: blur(0px) grayscale(0) invert(1) drop-shadow(0px 0px 10px white);
}

.color_div {
	position: relative;
	display: inline;
	top: 0px;
	background-color: hsla(0, 85%, 45%, 0.88);
	width: 50px;
	height: 50px;
}
